/*-- media queries --*/

@media (max-width: 575.98px) {
    .hero_section {
        padding-top: 120px !important;
    }

    .f_size_65 {
        font-size: 36px !important;
    }

    .f_size_30 {
        font-size: 24px !important;
    }

    .my_skills .skill_theme.mb_on_sm {
        margin-bottom: 0;
    }
}

@media (max-width: 767.98px) {
    .contact_area .contact_form {
        border-left: none;
        border-top: 1px solid #ddd;
    }
}

@media (max-width: 991.98px) {
    .hero_section {
        padding-top: 150px;
    }
}