body{
    background: #2BC0E4;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EAECC6, #2BC0E4);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EAECC6, #2BC0E4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    font-family: Roboto;
}
.fa-minus{
    float: right;
}
.fa-plus{
    float: right;
}
h1{
    background: #2980B9;
    padding: 10px 20px;
    margin: 0;
    color: white;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: normal;
}   
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
li{
    background: #fff;
    height: 40px;
    line-height: 40px;
    color: #565656;
}
li:nth-child(2n){
background:#f7f7f7 ;
}
span{
background: #e74c3c;
height: 40px;
margin-right: 20px;
text-align: center;
color: white;
width: 0;
display: inline-block;
transition: 0.2s linear;
opacity: 0;
}
li:hover span{
    width: 40px;
    opacity: 1.0;
}
input{
    font-size: 18px;
    color: #2980B9;
    background-color: #f7f7f7;
    width: 100%;
    padding: 13px 13px 13px 20px;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}
input:focus{
    background: #fff;
    border: 3px solid #2980B9;
    outline: none;
}
#container{
    width: 360px;
    margin: 100px auto;
    background: #f7f7f7;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
}   
.strike{
    text-decoration: line-through;
    color: grey;
}
